<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Travel Assistant</h1>
        <form id="searchForm" >
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>

            <label for="query">Query:</label>
            <input type="text" id="query" name="query" required>

            <button type="submit">Search</button>
        </form>
        <div>
            <button class="destination "><a href="{{ url_for('templates',filename='updates.html') }}"alt="oops">Destination Updation report</a></button>
        </div>

        <div id="results">
            <h2>Results</h2>
            <p id="response"></p>
            <p id="weather"></p>
            <p id="places"></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
